{{>header}}

<title>Bootstrap Example</title>

</head>

<body>
  {{>navbar}}

    <div class="container">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="card" style="width:190px;height:190px;margin:5px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                     <div class="card" style="width:190px;height:190px;margin:5px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                    <div class="card" style="width:190px;height:190px;margin:5px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                      <div class="card" style="width:190px;height:190px;margin:5px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                      <div class="card" style="width:190px;height:190px;margin:5px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                  
                  

             
                
                </div>
                 
            </div>
             </div>
             <div class="row">

            
           
            <div class="col-sm-12">
                <div class="row">
                    <h2>Morning Meal</h2>
                </div>
           
                   <div class="row">     
                   
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>      
                    </div>
                </div>

                  <div class="col-sm-12">
                <div class="row">
                    <h2>Evening Meal</h2>
                </div>
           
                   <div class="row">     
                   
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>      
                    </div>
                </div>
                 </div>
           
            
       
    </div>

    {{>footer}}