{{>header}}

<title>Meal Provider</title>

</head>

<body>

    <div class="jumbotron text-center">
       
        <h1>Discover best meal nearby your area</h1>
       
        <form>
            <div class="row">
                <div class="col-sm-4">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                         
                               <select class="form-control" style="border-radius:21px;font-size:25px">
                               <option>382350</option>
                               <option>382350</option>
                               <option>382350</option>
                           </select>
                        
                        </div>
                        <input type="text" class="form-control" id="searchMenuItem" style="width:100px;border:1px solid black;border-radius:21px;font-size:25px" placeholder="Enter Menu Item">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success" style="border-radius:21px;font-size:25px">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                 <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
               
                   <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                   <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>

                <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                   <div class="card" style="width:145px;height:145px">
                        <img class="card-img-top rounded-circle" src="/img/restaurent.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Restaurent</h5>
                        </div>
                    </div>
                </div>
                 
            </div>
             </div>
             <div class="row">

            
           
            <div class="col-sm-12">
                <div class="row">
                    <h2>Morning Meal</h2>
                </div>
           
                   <div class="row">     
                   
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>      
                    </div>
                </div>

                  <div class="col-sm-12">
                <div class="row">
                    <h2>Evening Meal</h2>
                </div>
           
                   <div class="row">     
                   
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                     <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>
                    <div class="card col-sm-3" style="margin:2px;">              
                        <img class="card-img-top" src="/img/restaurent.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Meal name <span class="badge badge-primary">100 ₹</span></h1></h4>
                            <p class="card-text">Some Description.</p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>                  
                    </div>      
                    </div>
                </div>
                 </div>
           
            
       
    </div>

    {{>footer}}