  <div class="container-fluid">
        <div class="superNav border-bottom py-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
        <select  class="me-3 border-0 bg-light">
          <option value="en-us">EN-US</option>
        </select>
        <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@foodhouse.com</strong></span>
        <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>+917536459870</strong></span>
      </div>
     
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>Food House</strong></a>
   

    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <div class="input-group mb-6">
            <select class="form-control" style="border-radius:21px;font-size:25px">
                <option>382350</option>
                <option>382350</option>
                <option>382350</option>
            </select>
            <input type="text" class="form-control" id="searchMenuItem" style="width:100px;border:1px solid black;border-radius:21px;font-size:25px" placeholder="Enter Menu Item">
            
            <div class="input-group-append">
                <button type="button" class="btn btn-success" style="border-radius:21px;font-size:25px">Search</button>
            </div>
            </div> 
        </div>
      </div>
      <ul class="navbar-nav ms-auto ">
       
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="/register">Sign Up</a>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>
       
        
     
    </div>